* {
  margin: 0;
  padding: 0;
}

/* .container {
  width: 1140px !important;
} */

.header-logo {
  width: 160px !important;
}

.hoverzoom {
  /* transition: 2s all; */
}

.hoverzoom:hover {
  transform: scale(1.2);
}

/* hamburber menu */
body {
  font-family: "Noto Sans Bengali", sans-serif;
}
.hamburger-line {
  transition: all 0.3s ease;
}
.hamburger-active .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger-active .hamburger-line:nth-child(2) {
  opacity: 0;
}
.hamburger-active .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
.mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.mobile-menu.active {
  transform: translateX(0);
}
.hover-scale-container {
  transition: transform 0.3s ease;
}
.hover-scale-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.hoverzoom {
  transition: transform 0.3s ease;
}
.hoverzoom:hover {
  transform: scale(1.05);
}
.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 255, 255, 0.8);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
}
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-pagination-bullet-active {
  background: white;
}
